@import 'tabview.styl'
@import 'stacked-panel.styl'

apply-core-theme()
  *
    widget-animation-duration: 100

  QScrollArea
    border: 0

  .scrollbar
    &:vertical
      width: 6px
      padding-right: 3px

    &:horizontal
      height: 6px
      padding-bottom: 3px

    &:vertical
    &:horizontal
      border: 0px
      background-color: $editor-background-color

    &::handle:vertical
    &::handle:horizontal
      background-color: #878b94

    &::handle:vertical:hover
    &::handle:horizontal:hover
      background-color: $shell-selection-color

    &::add-line:vertical
    &::sub-line:vertical
    &::add-line:horizontal
    &::sub-line:horizontal
      border: none
      background-color: $editor-background-color

  QToolTip
    padding: 0 2px
    border-radius: $border-radius * 2
    background-color: $shell-selection-color

  QSplitter
    &::handle
      background-color: $shell-border-color

      &:horizontal
        width: $shell-handle-size
      &:vertical
        height: $shell-handle-size

  [Shell]
    background-color: $shell-background-color

  [ContextMenu]
    $icon-left = 8px

    background-color: $menu-item-color
    margin: 0

    &::item
      background-color: $menu-item-color
      padding-top: 6px
      padding-right: 35px
      padding-bottom: @padding-top
      padding-left: $icon-left + 25px
      border: 1px solid transparent

      &:selected
        border-color: transparent
        background: $menu-item-color-hover

    &::icon
      left: $icon-left

    &::separator
      height: 1px
      margin: 0
      background-color: #F0F0F0

    &::indicator
      width: 20px
      height: 13px

    &::right-arrow
      right: 8px

  [Label], [LineEdit], [PushButton]
    color: $input-color

  [Label]
    background-color: transparent

  [LineEdit], [PushButton]
    padding: 3px 5px
    border: 1px solid transparent

  [LineEdit]
    border-color: $shell-border-color
    border-radius: 2px
    background-color: $input-background-color

    &:focus
      background-color: $input-background-color-hover
      border-color: $shell-selection-color

  [PushButton]
    color: $input-color
    padding-left: 20px
    padding-right: @padding-left
    border-color: lighten($pushbutton-background-color, 3%)
    border-color: $shell-border-color
    background-color: $pushbutton-background-color

    &:hover
      border-color: lighten($pushbutton-background-color, 10%)
      background-color: $pushbutton-background-color-hover

    &:pressed
      background-color: lighten($pushbutton-background-color-hover, 8%)

    &:focus
      border-color: lighten($pushbutton-background-color, 30%)

    &:hover, &:focus
      color: $input-color-hover

    &:disabled
      color: alpha($input-color, 30%)

  [IconButton]
    color: $shell-color
    background-color: transparent

    &:hover, &:focus
      color: $shell-color-hover

    &:disabled
      color: alpha($shell-color, 30%)

  [ListView], [TreeView]
    border: none
    show-decoration-selected: 1

    &::item
      padding: 2px $shell-tabbar-padding
      background-color: transparent

      &:last
        //

      &:hover
        background-color: $editor-background-color

      &:selected
        color: $shell-color
        background-color: $explorer-selected-background-color

  [ExplorerWidget]
    [TreeView]
      &::branch, &::item
        border: 0

        &:hover
          background-color: $editor-background-color

        &:selected
          color: $shell-color
          background-color: $explorer-selected-background-color

          &:active
            color: $menu-item-color-hover
            background-color: $explorer-active-background-color

      &::item
        padding-top: 0
        padding-bottom: @padding-top

      &::branch
        background-color: transparent

        // &:has-children:!has-siblings:closed
        &:closed:has-children:has-siblings
          border-image: none
          image: url(themes/images/treeview-branch-closed.svg)

        // &:open:has-children:!has-siblings,
        &:open:has-children:has-siblings
          border-image: none
          image: url(themes/images/treeview-branch-open.svg)

  [OutlineWidget]
    //

  [OpenDocumentsWidget]
    //

  [OpenDocumentsListView]
    //

  QScrollBar
    @extends .scrollbar

    &:vertical
    &:horizontal
      background-color: $shell-background-color-alternate

    &::add-line:vertical
    &::sub-line:vertical
    &::add-line:horizontal
    &::sub-line:horizontal
      background-color: $shell-background-color-alternate

  [ViewDocument]
    background: transparent

    QWidget
      border: 0

    QScrollBar
      @extends .scrollbar

      &::handle:vertical
      &::handle:horizontal
        background-color: #3e444a

        &:hover
          background-color: $shell-selection-color

  [Editor]
    qproperty-backgroundColor: $editor-background-color
    qproperty-selectionColor: $editor-selection-color
    qproperty-searchHighlightColor: $editor-search-highlight-color
    qproperty-replaceHighlightColor: $editor-replace-highlight-color
    qproperty-iconBorderColor: $editor-icon-border-color
    qproperty-foldingMarkerColor: $editor-folding-marker-color
    qproperty-lineNumberColor: $editor-line-number-color
    qproperty-currentLineNumberColor: $editor-current-line-number-color
    qproperty-scheme: $editor-scheme

  [EditorView]
    QWidget
      background-color: transparent

      QWidget
        border: 1px solid transparent
        color: $shell-color
        background-color: $shell-background-color

  [FindWidget]
  [FindFileWidget]
    background-color: $shell-background-color

  [FindWidget]
    border-top: 1px solid $shell-border-color

  [FindFileWidget]
    padding: 2px 10px 2px 5px
    border-radius: $border-radius

    [CloseButton]
      margin-top: 7px
      margin-left: 10px

    [LineEdit]
      font-size: 12px
      padding-top: 1px
      padding-bottom: @padding-top

  [Overlay]
    background-color: $overlay-background-color

    [OverlayFrame]
      padding: 10px
      min-width: 450px
      border-radius: $border-radius * 2
      color: $shell-color
      background-color: $overlay-frame-background-color

  [FileList]
    min-height: 350px
    color: $shell-color
    background-color: transparent
    border: 1px solid $shell-border-color

    &::item
      border-bottom: @border
      background-color: $shell-background-color

      &:last
        border-bottom: none

      &:hover
        background-color: $editor-background-color

      &:selected
        background-color: $explorer-selected-background-color

    QScrollBar
      @extends .scrollbar

      &:vertical
        padding-right: 0

      &:horizontal
        padding-bottom: 0

      &:vertical
      &:horizontal
      &::add-line:vertical
      &::sub-line:vertical
      &::add-line:horizontal
      &::sub-line:horizontal
        background-color: darken($shell-background-color, 90)

  [SaveChangesView]
    [FileList]
      //

  [SwitchFilesView][Overlay]
    background-color: transparent

  [QuickOpenView]
    padding: 3px
    border-radius: $border-radius * 2

    [OverlayFrame]
      margin-top: 50px

    [FilterInput]
      padding: 5px
      margin-bottom: 10px
      border: 2px solid $shell-selection-color
      border-radius: $border-radius
      color: $shell-color
      background-color: $shell-background-color

    [EmptyLabel]
      color: $shell-color

  [StatusBar]
    padding: 6px ($shell-tabbar-padding + 3)
    border-top: 1px solid $shell-border-color

  /**
   * - Use `[StatusBarItem]` for all statusbar's items
   * - Use `[StatusBarItem='0']` for the first statusbar's item
   * - Use `[StatusBarItem='1']` for the second statusbar's item
   */
  [StatusBarItem]
    color: $shell-color
    margin-left: 15px

    /**
     * - Use `[StatusBarFirstItem]` for the first statusbar's item
     * - Use `[StatusBarLastItem]` for the last statusbar's item
     */
    &[StatusBarFirstItem]
      margin-left: 0

apply-theme()
  apply-core-theme()
  apply-tabview-theme()
  apply-stacked-panel-theme()
