apply-stacked-panel-theme()
  [StackedPanel]
    background-color: $stacked-panel-background-color

    &[focused=true]
      background-color: $stacked-panel-background-color
      background-color: red

  [StackedPanelBar]
    background-color: $stacked-panel-bar-background-color

  [StackedPanelBarToolboxContainer]
    //

  [StackedPanelToolBox]
    //

  [StackedPanelBarCombobox]
  [StackedPanelToolBoxButton]
    background-color: transparent

    &:hover
      color: $stacked-panel-color-selected
      background-color: $stacked-panel-background-color-hover

  [StackedPanelBarCombobox]
    min-width: 100%
    color: $stacked-panel-color
    background-color: transparent
    border: none
    padding: 7px 10px

    &::drop-down
      width: 15px
      subcontrol-origin: padding
      subcontrol-position: top right
      border: 1px solid transparent

    &::down-arrow
      margin-right: 10px
      image: url(themes/images/arrow-drop-down-black-24px.svg)

    QAbstractItemView
      border: none
      color: $stacked-panel-color
      background-color: lighten($shell-background-color-alternate, 10%)
      selection-background-color: $stacked-panel-background-color-selected

  [StackedPanelToolBoxButton]
    color: $stacked-panel-color
    border: none

    max-width: 100%
    max-height: @max-width

    padding: 0
    margin: @padding

    &:disabled
      color: alpha($stacked-panel-color, .5)

    &:checked, &:pressed
      background-color: $shell-panel-button-pressed-backgroundColor

  [StackedPanelContainer]
    //

  [StackedPanelFrame]
    //

  [StackedPanelFrameContainer]
    //

  [StackedPanelWidget]
  [StackedPanelFrameWidget]
    color: $stacked-panel-color
    background-color: $stacked-panel-background-color
    border: none

  [LandingWidget]
    //

  [LandingWidgetImageLabel]
    //

  #OutlineEmptyWidget
    [LandingWidgetImageLabel]
      border-width: 0

  #OutlineLoadingWidget
    [LandingWidgetImageLabel]
      //

  [LandingWidgetTitleLabel]
  [LandingWidgetTextLabel]
    color: $shell-color
    qproperty-alignment: AlignCenter
    qproperty-wordWrap: true
    margin: 1

  [LandingWidgetTitleLabel]
    font-size: 14px

    &[state='0']
    &[state='1']
    &[state='2']
    &[state='3']
      font-size: 5px // TODO don't works :-/'

  [LandingWidgetActionButton]
    margin-top: 10px
    padding: 5px 10px

    color: $landing-button-color
    background-color: $landing-button-bg-color

    border: $landing-button-border
    border-radius: $landing-button-border-radius

    &:hover
      color: $landing-button-color--hover
      background-color: $landing-button-bg-color--hover

      border: $landing-button-border--hover
      border-radius: $landing-button-border-radius--hover

    &:pressed
      color: $landing-button-color--pressed
      background-color: $landing-button-bg-color--pressed

      border: $landing-button-border--pressed
      border-radius: $landing-button-border-radius--pressed

    // FIXME &:disabled dont works :-/
    &:disabled
      color: $landing-button-color--disabled
      background-color: $landing-button-bg-color--disabled

      border: $landing-button-border--disabled
      border-radius: $landing-button-border-radius--disabled
