apply-tabview-theme()
  [Tabview]
    background-color: $tabview-background-color

    &[focused=true]
      [TabviewBarButton]
        &[selected=true], &:hover
          background-color: $tabview-focused-background-color

      [TabviewContainer]
        background-color: $tabview-focused-background-color

      QScrollBar
        &:vertical
        &:horizontal
          border: 0px
          background-color: $tabview-focused-background-color

        &::handle:vertical
        &::handle:horizontal
          background-color: #878b94

          &:hover
            background-color: $shell-selection-color

        &::add-line:vertical
        &::sub-line:vertical
        &::add-line:horizontal
        &::sub-line:horizontal
          background-color: $tabview-focused-background-color

      [Editor]
        qproperty-backgroundColor: $tabview-focused-background-color
        qproperty-iconBorderColor: @qproperty-backgroundColor

  [TabviewBar]
    background-color: $tabview-background-color

    QScrollArea
      border: 0

    QScrollBar
      &:vertical
        width: 6px
        padding-right: 3px

      &:horizontal
        height: 6px
        padding-bottom: 3px

      &:vertical
      &:horizontal
        border: 0px
        background-color: transparent

      &::handle:vertical
      &::handle:horizontal
        background-color: #878b94

      &::handle:vertical:hover
      &::handle:horizontal:hover
        background-color: $tabview-scrollbar-handle-background-color

      &::add-line:vertical
      &::sub-line:vertical
      &::add-line:horizontal
      &::sub-line:horizontal
        border: none
        background-color: $tabview-background-color

    [ToolBox]
      border: 1px solid transparent
      border-left-color: $tabview-border-color

    [ToolBoxButton]
      border: none
      color: $tabview-color
      padding: 8px 0px

      &:hover
        background-color: $tabview-btn-background-color--hover

      &:disabled
        color: alpha($tabview-color, .5)

    [TabviewBarScrollLeftButton]
      // The Scroll Left Button

    [TabviewBarScrollRightButton]
      // The Scroll Right Button

  [TabviewBarFrame]
    background-color: transparent
    padding: 0

  [TabviewBarButton]
    border: 0
    padding: $tabview-tabbar-padding 0
    padding-right: $tabview-tabbar-padding
    padding-left: ($tabview-tabbar-padding * 2)

    [TabviewBarButtonText]
      color: $tabview-color

    &[selected=true]
      background-color: $tabview-background-color-selected

      [TabviewBarButtonClose]
        //

    &[selected=true]
      border: 1px solid $tabview-border-color
      border-top: 0
      border-bottom: 0

      [TabviewBarButtonText]
        color: $tabview-color-selected

    &[first=true]
      border-left-color: transparent

    &[last=true]
      border-right-color: transparent

    &[last=true][index='1']
      border-right-color: $tabview-border-color

    &[first=true][last=true]
      border-right-color: $tabview-border-color

  [TabviewBarButtonClose]
    padding: $tabview-close-btn-padding
    background-color: $tabview-btn-background-color

    &:hover
      background-color: $tabview-btn-background-color--hover

    &:pressed
      background-color: $tabview-btn-background-color--pressed

  [TabviewContainer]
    background-color: $tabview-background-color-selected
    border: 0
    padding: 0
    margin: 0

    QWidget
      padding: 0
      border: 1px solid transparent
      background-color: transparent

  [TabviewWidget]
    //
